<body id="body">
    <div class="card" id="card">
        <div class="search">
            <p class="title">Find Out What Your Weather Looks Like!</p>
            <mat-form-field appearance="standard">
                <mat-label>Zip Code or City</mat-label>
                <input matInput id="zip" (keydown.enter)="getTown();">
                <mat-icon class="glass" matSuffix (click)="getTown()">
                    search
                </mat-icon>
                <mat-hint>Click the search icon to see your results!</mat-hint>
            </mat-form-field>
        </div>
        <br>
        <div class="weather">
            <h1 class="city">Weather in {{town}}</h1>
            <img *ngIf="linkReady" src={{link}} alt="">
            <div class="temp">Temperature: {{temp}}°F</div>
            <div class="description">Sky: {{clouds}}</div>
            <div class="humidity">Humidity: {{humidity}}%</div>
            <div class="wind" id="wind">Wind Speed: {{wind}} mph</div>
        </div>
    </div>
</body>